.search {
    position: relative;
    text-align: center;
    padding: 10px 0;
}

.searchIcon {
    width: 16px;
    height: 16px;
    position: relative;
    left: 30px;
    top: 2px;
    color: #c1c1c1;
}

.searchInput {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 20px;
    width: 23rem;
    border-radius: 10px;
    font-size: 1rem;
    padding-left: 36px;
    background: #f4f4f4;
}

.searchInput::placeholder {
    color: #c1c1c1;
}
